body, html {
    background-color: #ABDCFD;
    font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
    background-image: url("http://az616578.vo.msecnd.net/files/2016/03/01/6359240176401243761819227205_81-explore-the-area-climate-and-weather.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.form {
    text-align:center;
    padding: 10px;
}

.form input {
    text-align: center;
}

.widget {
    widget:33%;
    padding:10px;
}

.column {
    border: 1px solid black;
}

.row {
    background-color: #DDE1C7;
    border: 1px solid black;
}

#map-canvas {
    width: 100%;
    height: 481px;
}
